body {
  background: #EDE8E8;
  padding: 0px;
}
.log{
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  border-right: 23px solid #2e5790;
  border-top: 23px solid #2e5790;
  border-left: 23px solid transparent;
  border-bottom: 23px solid transparent;
  z-index: 1005;

}
.alert-info{
  background: #6081aa;
  border: 1px solid #718093;
  color: white;

}
.alert-success{
  background: #76aa60;
  border: 1px solid #85a573;
  color: white;

}
.icon-credit-card{
  background: #88a1c0;
  padding: 2px;
}
.icon-ok{
  background: #93bf80;
  padding: 1px;
}
.icon-logout{
  color: white;
  position: absolute;
  top: -19px;
  right: -23px;
}
/* Implementación de fuentes personalizadas */
@font-face {
  font-family: "RobotoSlab";
  src: url("fuentes/RobotoSlab.ttf");
}

@font-face {
  font-family: "JuliusSans";
  src: url("fuentes/JuliusSans.ttf");
}

/* Medidas-Columnas */
.header-col-inf-1 {
  height: 30px;
}

.header-col-inf-2 {
  height: 70px;
}

.panel-col-izq, .registro-col-cen, .registro-col-cen-externos, .gif-aside {
  background: white;
  -webkit-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.25);
}

.registro-col-cen {
  border-radius: 3px;
  height: 540px;
  transition: all 1s;
}

.registro-col-cen-externos {
  border-radius: 3px;
  height: 540px;
  transition: all 1s;
}

.footer-col-sup {
  height: 20px;
}

/* Textos personalizados */
.encabezado-infoteca {
  font-family: 'RobotoSlab';
  font-size: 13px;
}

/* Contenedores */
.container-header-sup {
  background: #EDB621;
  height: 34px;
  position: relative;
  z-index: 21;
}

.container-header-inf {
  transition: all 1s;
  background: white;
  height: 80px;
  -webkit-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
}

.container-footer-sup {
  background: #171616;
  height: 30px;
}

.container-footer-inf {
  background: #000000;
  height: 80px;
  transition: all 1s;
}

/* Alertas personalizadas */
.alert-roja {
  font-family: RobotoSlab;
  font-size: 14px;
  color: white;
  background: #E84C4C;
  border: 1px solid #F47070;
  border-radius: 3px;
}

.espacio-alerta {
  margin: 50px;
}

/* Contenedor Información */
.card-alumno {
  /* Horizontal, Vertical, Difuminado, tamaño, color. */
  box-shadow: 0 -10px 0px 0px rgba(108, 123, 238, 1);
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-box-shadow: 0px 10px 3px -5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 10px 3px -5px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 3px -5px rgba(0, 0, 0, 0.33);
  height: 350px;
}

.titulo-informacion-ingreso {
  font-family: 'RobotoSlab';
  font-size: 15px;
}

.informacion-ingreso {
  font-family: 'RobotoSlab';
  font-size: 12px;
}

/* Animaciones */
/* Animación: Banderas */
.animacion-banderas:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: 1s all;
}

/* Botones personalizados */
.ahref-bot-izq {
  background: #2e5790;
  font-size: 15px;
}

/* Gif-Cen-Der */
.gif-cen-der {
  transition: all 1s;
  border-radius: 2px;
  height: 540px;
}

.gif-cen-der-externos {
  transition: all 1s;
  border-radius: 2px;
  height: 540px;
}

/* Imagen-Cen-Der-Principal */
.img-cen-der-prin {
  border-radius: 2px;
}

/* Unordered List Elemento */
.a-registro::before {
  content: "REGISTRO ";
  color: black;
  font-family: "JuliusSans";
  transition: all 1s;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
}
.mt-toggle{
  margin-top: 2px;
}
.a-dropdownmenu {
  color: black;
  font-family: "JuliusSans";
  content: "REGISTRO ";
  color: black;
  font-family: "JuliusSans";
  transition: all 1s;
  font-size: 14px;
  letter-spacing: 1px;
}

/* Fuentes */
.tabla-botones {
  border: 1px solid black;
}

.th-text-footer {
  font-size: 15px;
  font-family: "Open Sans";
  color: white;
}

.tb-text-footer {
  font-size: 13px;
  font-family: "RobotSlab";
  color: #EDE9E9;
}

.p-text-footer {
  font-family: 'RobotoSlab';
  color: white;
  font-size: 14px;
}

/* Cambio a etiquetas HTML */
li {
  display: inline-block;
}

/* Pruebas */
.contenedor-cards-t {
  height: 540px;
  background: white;
}

.alerta-error {
  border-radius: 2px;
  font-size: 14px;
  background: #C13232;
  border: 1px solid #AC1E1E;
  color: #fff;
}

/* */
@media screen and (max-width: 970px) {
  .registro-col-cen-externos {
    border-radius: 3px;
    height: 590px;
    transition: all 1s;
  }

  .gif-cen-der-externos {
    transition: all 1s;
    border-radius: 2px;
    height: 590px;
  }
}

@media screen and (max-width: 900px) {
  .registro-col-cen-externos {
    border-radius: 3px;
    height: 620px;
    transition: all 1s;
  }

  .gif-cen-der-externos {
    transition: all 1s;
    border-radius: 2px;
    height: 620px;
  }
}

/* Dispositivo md */
@media screen and (max-width: 767px) {
  .container-header-inf {
    transition: all 1s;
    background: white;
    height: 125px;
    -webkit-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
  }

  #gif-as {
    display: none;
    transition: all 1s;
  }

  .registro-col-cen {
    border-radius: 3px;
    height: 340px;
    transition: all 1s;
  }

  .registro-col-cen-externos {
    border-radius: 3px;
    height: 630px;
    transition: all 1s;
  }

  .container-footer-inf {
    background: #000000;
    height: 195px;
    transition: all 1s;
  }

  #logoid {
    transition: all 1s;
    width: 162px;
    height: 62px;
  }

  .th-text-footer {
    font-size: 12px;
    font-family: "Open Sans";
    color: white;
  }

  .tb-text-footer {
    font-size: 12px;
    font-family: "RobotSlab";
    color: #EDE9E9;
  }

  .p-text-footer {
    font-family: 'RobotoSlab';
    color: white;
    font-size: 13px;
  }
}

/* Dispositivo sm */
@media screen and (max-width: 550px) {
  .container-header-inf {
    transition: all 1s;
    background: white;
    height: 120px;
    -webkit-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
  }

  .registro-col-cen-externos {
    border-radius: 3px;
    height: 690px;
    transition: all 1s;
  }

  .container-footer-inf {
    background: #000000;
    height: 210px;
    transition: all 1s;
  }
}

@media screen and (max-width: 450px) {
  .container-header-inf {
    transition: all 1s;
    background: white;
    height: 120px;
    -webkit-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
  }

  .registro-col-cen-externos {
    border-radius: 3px;
    height: 750px;
    transition: all 1s;
  }

  .container-footer-inf {
    background: #000000;
    height: 210px;
    transition: all 1s;
  }
}

@media screen and (max-width: 355px) {
  .container-header-inf {
    transition: all 1s;
    background: white;
    height: 120px;
    -webkit-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 1px 15px -5px rgba(0, 0, 0, 0.33);
  }

  .registro-col-cen-externos {
    border-radius: 3px;
    height: 820px;
    transition: all 1s;
  }

  .container-footer-inf {
    background: #000000;
    height: 210px;
    transition: all 1s;
  }
}
