		body{
			background: #f2f2f2;
		}
		.header{
			background: #faa831;
			padding: 0;
		}
		td{
			padding-top: 0px;
			padding-left: 10px;
			padding-bottom: 5px;
		}
		.nav{
			background: white;
		}
		.texto-logo{
			padding-top: 25px;
			font-weight: bold;
		}
		.texto-nombre-programa{
			font-size: 10px;
		}
		.botones-registro{
			background: #2e5790;
			
			font-size: 15px;
		}
		.botones-registro, .texto-logo{

		}
		.texto-footer{
			font-family: 'Technical';
			src: url('estilos/Technical.tff');
		}
		.footer-info{
			background: #2f2f2f;
		}
		.footer-eslogan{
			background: #282828;
		}
		.texto-eslogan{
			color: white;
			font-size: 17px;
		}
		.texto-footer{
			color: white;
			font-size: 14px;
		}
		.texto-footer2{
			font-family: 'Technical';
			src: url('estilos/Technical.tff');
		}
		.color-tabla{
			background: #ECE5E5;
		}
		/* Animación: Banderas-Lenguaje; */
		.tabla-elementos:hover{
		-webkit-transform:scale(1.25);
		-moz-transform:scale(1.25);
		-ms-transform:scale(1.25);
		-o-transform:scale(1.25);
		transform:scale(1.25);
		}
		/* Logos: Footer */
		.telefono-elemento:before{
			 content: url(../imagenes/logoelementos/logotel.jpg);
		}
		.ubicacion-elemento:before{
		    content: url(../imagenes/logoelementos/logoubicacion.jpg);
		}
		.horario-elemento:before{
			 content: url(../imagenes/logoelementos/logohorario.jpg);
		}
		.logo-class:hover{
	box-shadow: 0 3px 0 #5461DA inset,
				0 -3px 0 #5461DA inset;
	transition-duration: 0.6s;
	transition-timing-function: ease;
}