body{
	background-image: url("../imagenes/background/back.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-image:no-repeat;
}
.col-princ {
	height:100vh;
}


.container-princ{
	align-items: center;
	vertical-align: center;
	justify-content: center;
}

.jumbo1{
	background-color: gray;
	text-align: center;
	color: white;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	padding-bottom: 0px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	margin-bottom: -16px;
	align-items: center;
}
.usuario{
	align-items: center;
}
.boton-limp{
	margin-right: 30px;
	margin-bottom: 10px;

}

.jumbo0{
	margin-bottom: 0;
	width: 30vw;
	background-color:;
}
.seParrafo{
	margin-bottom: 2px;
}
