body{
	background: #2b323b;
}
/* ejemplo 1 */
/* ejemplo 3 */
.contenedor {
margin: 10px auto;
width: 40%;
background-color: #E7F6F6;
border: 1px solid #99cccc;
display: flex;
align-items: center;
justify-content: center;
}
.contenido {
padding: 80px;
}
